{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <noscript>You need to enable JavaScript to view this page.</noscript>
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('client') }}
{% endblock %}